<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
</head>

<body>
    <div class='main'>
        <div class='item' id="main">
            <img style='border-radius: 20px 20px 10px 10px;' src='{{ song_image }}'></img>
            {% if song_preview != None %}
            <p>Song Preview:</p>
            <audio controls>
                <source src='{{ song_preview }}' type='audio/mpeg'>
            </audio>
            {% else %}
            <p>Song Preview Unavailable</p>
            {% endif %}
            
            <h3><b>{{ song_name }}</b></h3>
            <p>By: {% for i in range (num_artists) %}{{ all_artists[i] }} {% endfor %}</p>
            {% if lyrics_url != None %}
                <p><a href='{{ lyrics_url }}'>Click here to see the lyrics!</a></p>
            {% else %}
                <p>Sorry, no lyrics were found.</p>
            {% endif %}
        </div>
    </div>

    <button class="button" onClick="window.location.reload();">New Random Song</button>
    
    <div class='other_tracks'>
        <h4 style='padding-left: 25%;'>Other Tracks by {{ artist }}:</h4>
        <div class='container'>
            {% for i in range(num_songs) %}
            <div class='item'>
                <p><img src='{{ other_songs_images[i] }}'></img></p>
                <p>{{ other_songs_names[i] }}</p>
            </div>
            {% endfor %}
</div>
    </div>
</body>

</html>
